html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.jumbotron {
  background: #AD6AEA;
  margin-bottom: 0;
}

.wrapper {
  padding-top: 30px;
  background: #EAAD6A;
}

.button-group {
  margin-top: 10px;
}

img {
  width: 100%;
  padding: 10px;
}

.sidebar img {
  height: 25%;
}

.sidebar {
  height: 100%;
}

.memes {
  overflow-y: scroll;
  height: 66%;
}
